{% extends 'main.html' %}

{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active"><a href={% url 'clients:list' %}>Clients</a></li>
    {% if client %}
        <li class="breadcrumb-item active"><a href={% url 'clients:details' client.pk %}>{{ client }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <form class="d-flex flex-column align-items-center w-100 mb-3" method="post" novalidate>
        <div class="border border-success rounded p-2 mb-2">
            {% csrf_token %}

            <!-- Quality -->
            <div class="form-group">
                {{ form.quality.label_tag }}

                {% if form.is_bound %}
                    {% if form.quality.errors %}
                        {% render_field form.quality class="form-control is-invalid" %}
                        {% for error in form.quality.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.quality class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.quality class="form-control" %}
                {% endif %}

                {% if form.quality.help_text %}
                    <small class="form-text text-muted">
                        {{ form.quality.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- First name -->
            <div class="form-group">
                {{ form.first_name.label_tag }}

                {% if form.is_bound %}
                    {% if form.first_name.errors %}
                        {% render_field form.first_name class="form-control is-invalid" %}
                        {% for error in form.first_name.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.first_name class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.first_name class="form-control" %}
                {% endif %}

                {% if form.first_name.help_text %}
                    <small class="form-text text-muted">
                        {{ form.first_name.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Last name -->
            <div class="form-group">
                {{ form.last_name.label_tag }}

                {% if form.is_bound %}
                    {% if form.last_name.errors %}
                        {% render_field form.last_name class="form-control is-invalid" %}
                        {% for error in form.last_name.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.last_name class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.last_name class="form-control" %}
                {% endif %}

                {% if form.last_name.help_text %}
                    <small class="form-text text-muted">
                        {{ form.last_name.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Address 1 -->
            <div class="form-group">
                {{ form.address1.label_tag }}

                {% if form.is_bound %}
                    {% if form.address1.errors %}
                        {% render_field form.address1 class="form-control is-invalid" %}
                        {% for error in form.address1.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.address1 class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.address1 class="form-control" %}
                {% endif %}

                {% if form.address1.help_text %}
                    <small class="form-text text-muted">
                        {{ form.address1.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Address 2 -->
            <div class="form-group">
                {{ form.address2.label_tag }}

                {% if form.is_bound %}
                    {% if form.address2.errors %}
                        {% render_field form.address2 class="form-control is-invalid" %}
                        {% for error in form.address2.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.address2 class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.address2 class="form-control" %}
                {% endif %}

                {% if form.address2.help_text %}
                    <small class="form-text text-muted">
                        {{ form.address2.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Address 3 -->
            <div class="form-group">
                {{ form.address3.label_tag }}

                {% if form.is_bound %}
                    {% if form.address3.errors %}
                        {% render_field form.address3 class="form-control is-invalid" %}
                        {% for error in form.address3.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.address3 class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.address3 class="form-control" %}
                {% endif %}

                {% if form.address3.help_text %}
                    <small class="form-text text-muted">
                        {{ form.address3.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Zip -->
            <div class="form-group">
                {{ form.zip.label_tag }}

                {% if form.is_bound %}
                    {% if form.zip.errors %}
                        {% render_field form.zip class="form-control is-invalid" %}
                        {% for error in form.zip.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.zip class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.zip class="form-control" %}
                {% endif %}

                {% if form.zip.help_text %}
                    <small class="form-text text-muted">
                        {{ form.zip.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- City -->
            <div class="form-group">
                {{ form.city.label_tag }}

                {% if form.is_bound %}
                    {% if form.city.errors %}
                        {% render_field form.city class="form-control is-invalid" %}
                        {% for error in form.city.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.city class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.city class="form-control" %}
                {% endif %}

                {% if form.city.help_text %}
                    <small class="form-text text-muted">
                        {{ form.city.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <!-- Validation -->
        <button type="submit" class="btn btn-success mx-3">Enregistrer</button>
    </form>
{% endblock content %}