{% extends 'main.html' %}

{% block content %}
    <form method="post" class="d-flex flex-column align-items-center">
        {% csrf_token %}

        <div class="text-white bg-danger rounded text-center mb-4 px-5 py-3">
            <span class="fas fa-exclamation-triangle"></span>
            <h2>Êtes-vous sûr de vouloir supprimer ce travail ?</h2>
            <h3>{{ work }}</h3>
        </div>
    
        <div id="validation">
            <button type="submit" class="btn btn-secondary">Non</button>
            <button class="btn btn-primary">Oui</button>
        </div>
    </form>
{% endblock content %}
